<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:object="${post}" th:utext="*{title}"></title>
</head>
<body>
  <div>
    <div th:text="${rating}" style="display: inline-block"></div>
    <div th:object="${post}" th:utext="*{title}" style="display: inline-block"></div>
  </div>
  <div th:object="${post}" th:utext="*{user}"></div>
  <div th:object="${post}" th:utext="*{content}"></div>
  <div th:object="${post}" th:utext="*{updateAt}?'Last update at '+ *{updateAt}:'Last update at '+ *{createAt}" ></div>
  <div>
    <form th:action="@{/comment}" method="post">
      <textarea name="comment" id="" cols="30" rows="10"></textarea>
      <button type="submit">Comment</button>
    </form>
  </div>
  <div >
    <div th:each="comment:${comments}" th:utext="comment.getContent()"></div>
  </div>
  <div>
    <div style="display: inline-block">
      <a href="#" onclick="window.history.back()">Back to topic</a>
    </div>
    <div style="display: inline-block">
      <form th:action="@{/rate}" method="post">
        <select name="rate" id="rate" onChange="this.form.submit()">
          <option th:value="${1}" >Very bad</option>
          <option th:value="${2}" >Bad</option>
          <option th:value="${3}" >Average</option>
          <option th:value="${4}" >Good</option>
          <option th:value="${5}" >Very good</option>
        </select>
      </form>
    </div>
    <div style="display: inline-block">
      <form th:action="@{/post/__${post.getId()}__/checkRead}" method="post" th:value="isRead.checked">
        <input type="checkbox" th:checked="${isRead}?'checked'" onChange="this.form.submit()" id="isRead">Read</input>
      </form>
    </div>
  </div>
</body>
</html>