<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<style>
    article {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        background-color: #f1f1f1;
        padding: 0px 7px 5px 25px;
        margin: 59px 0px 0px 36px;
        right: 0px;
        left: 341px;
        top: 10px;
        position: absolute;
        display: block;

    }
    .create{

    }
</style>
<body>
<nav th:replace="layout::header"></nav>
<div class="container">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a href="#section2">Friends</a></li>
                <li><a href="#section3">Family</a></li>
                <li><a href="#section3">Photos</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h4><small>RECENT POSTS</small></h4>
            <!--<button th:href="@{/}" type="submit" class="btn btn-success">Submit</button>-->


            <th:block th:each="post: ${posts}">
                <div>
                    <a th:href="@{/post/__${post.id}__}"><h2 th:utext="${post.title}"></h2></a>
                    <h5 th:text="${post.getCreateAt()}"><span class="glyphicon glyphicon-time"></span></h5>
                    <!--<p th:utext="${post.content.substring(0,200)}"></p>-->
                </div>
            </th:block>


            <hr>
            <div>
                <a th:href="@{'/post'(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}">Previous</a>
                <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
                <a th:href="@{'/post'(page=${posts.number + 1},size=10)}" th:if="${posts.hasNext()}">Next</a>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<div th:replace="layout::footer"></div>
</body>
</html>