<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <title>Open Code</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<nav th:fragment="header" class="navbar navbar-dark bg-dark">
    <div class="input-group">
        <style type="text/css">
            .input-group {
                width: 95%;
            }
        </style>
        <form action="/post" method="post">
        <input name="search" type="text" class="form-control" placeholder="Search..." style="margin-left: auto;width: 800px;">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
        </form>

        <span class="input-group-btn">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></button>
                        <ul class="dropdown-menu">
                          <li><a th:href="@{/user/login}" th:utext="${isLogin}?'Profile':'Login'">Profile</a></li>
                          <li><a th:href="@{/studyProgress}" th:style="${isLogin}?'display:block':'display:none'">Progress</a></li>
                          <li><a href="/user/logout" th:style="${isLogin}?'display:block':'display:none'">Logout</a></li>
                        </ul>
                </span>
    </div>
</nav>


<footer style="text-align: center; margin-top: 50px;" th:fragment="footer" class="container">
    <hr/>
    <strong>&copy; C0319H1 - Hoan - Dat - Minh - Thinh</strong>
</footer>

</body>
</html>