<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body style="text-align: center;">
<form action="login" method="post">
    <h1 align="center">Login</h1>
    <div class="form-group">
        <label style="display: block;">Username</label>
        <input type="text" name="username" class="form-control" width="100px" id="email" style="display: inline-block;width: 20%;">
    </div>
    <div class="form-group">
        <label style="display: block;" for="pwd">Password</label>
        <input type="password" name="password" class="form-control" width="100px" id="pwd" style="display: inline-block;width: 20%;">
    </div>
    <p th:utext="${isSuccess == null} ? '' : (${isSuccess} ? '' : 'Username or password invalid!')" style="color: red"></p>
    <input class="btn btn-success" type="submit" value="Login"/>
    <input class="btn btn-primary" type="button" value="Cancel" onclick="window.history.back()"/>
</form>
</body>
</html>